@font-face {
    font-family: 'MyFont';
    src: url('assets/soria/soria-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;  
}       
@font-face {
    font-family: 'MyFont2';  
    src: url('assets/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
h1 {
    color: #000;
    font-family: 'MyFont', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2 {
    font-family: 'MyFont2', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3 {
    font-family: 'MyFont2', sans-serif;
    font-size: 2em;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   
h4 {
    font-family: 'MyFont', sans-serif;
    font-size: 1.5em;
    color: #26422A;
}
h5 {
    font-family: 'MyFont', sans-serif;
    font-size: 1.17em;
    color: #26422A;
}
h6 {
    font-family: 'MyFont', sans-serif;
    font-size: 1em;
    color: #26422A;
}
p {
    font-family: 'MyFont2', sans-serif;
    font-size: 1em;
}