@font-face {
    font-family: 'NicoMoji';
    src: url('assets/NicoMoji-Regular.ttf') format('truetype');     
} 
@font-face {    
    font-family: 'KumbhSans'; 
    src: url('assets/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                font-family: 'MyFont2', sans-serif;
                background-color: #fff;
                color: black;
            }
            .navbar {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 10px;
                width: 100%;
                height: 80px;
                z-index: 2;

            }
            .nav-links {
                list-style: none;
                display: flex;
                gap: 200px;
                flex-direction: row;
            }
            .nav-links li a {
                text-decoration: none;
                color: black;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);           
            }
            .header-content {
                position: relative;
                z-index: 1;
            }
            .header {
                display: flex;
                background-image: url('Images/background.jpg');
                background-size: cover;
                align-items: center; /* Damit der Text und das Bild vertikal zentriert sind */
                color: black;
                text-align: left;
                padding: 50px;
                height: 100vh;
            }
            .header-content {
                flex: 1; /* Der Text nimmt den verfügbaren Platz ein */
                display: flex;
                flex-direction: column; /* Text bleibt untereinander */
                gap: 15px;
            }
            .portfolio {
                margin: 50px 0 50px 0;
                text-align: center;
                padding: 50px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: start;
                justify-content: center;
            }
            .undertitle {
                display: flex;
                flex-direction: row;
                align-items: start;
                gap: 20px;
            }
            .carousel-container {
                overflow: hidden;
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                align-items: center;
            }
            .carousel {
                display: flex;
                overflow-x: scroll;
                scroll-behavior: smooth;
                gap: 40px;
            }
            .carousel img {
                height: 360px;
                width: auto;
            }
            .prev, .next {
                position: absolute;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 18px;
            }
            .prev {
                left: 5px;
            }
            .next {
                right: 5px;
            }
            .prev :hover, .next :hover {
                background: rgba(0, 0, 0, 0.8);
                color: #FFA4E4;
            }
            .skills {
                margin: auto;
                padding: 120px 50px 120px 50px;
                background-color: black;
                color: white;
                gap: 40px;          
                justify-items: center;
                align-items: center;
                display: flex;
                flex-direction: column; /* stack items vertically */
            }
            .skills-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 70px;
                }
                .skill-button {
                    font-family: 'NicoMoji', sans-serif;
                    font-size: 24px;
                    padding: 20px 40px 20px 40px;
                    border: none;
                    cursor: pointer;
                    width: 500px;
                    height: 80px;
                    border-radius: 20px;
                    font-weight: bold;
                    background: #D9D9D9;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
                .skill-button:hover {
                    background-color: #FFA4E4;;
                    opacity: 0.9;
                }
            .skillsPlaceholder {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            .socialLinks {
                padding: 120px 50px 120px 50px;
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                align-items: end;   
                flex-direction: column;    
                color: #26422A;
            }
            .undertitle2 {
                display: flex;
                flex-direction: row;
                align-items: end;
                width: 50%;
                gap: 20px;
            }
            .social-links-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
            }
            .socialLinks a {
                font-family: 'KumbhSans', sans-serif;
                color: black;
                text-decoration: none;
                border-radius: 20px;
                background: #D9D9D9;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 10px;
            }
            .socialLinks a img {
                height: 50px;
                width: auto;
            }
.contact {
    padding: 50px 50px 120px 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: start;
    flex-direction: column;
    color: #26422A;
}
.undertitle3 {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    width: 50%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 50px;
    bottom: 0;
    width: 100%;
}
.footer-links {
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
}
.footer-mini-socials {
    padding-top: 30px;
}
#mail {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 300;
}